== section "Introduction", :introduction do
  == render "introduction"

== examples "Adding icons", :adding
== examples "Styling", :styling
== examples "Applications", :applications
== examples "Images", :images

== section "About", :about do
  a.github href="http://github.com/haines/font_awesome_rails" title="font_awesome_rails on GitHub" font_awesome_rails
