html, body {
  position: relative;
  height: 100%;
}

.body {
  @include position(absolute, $navbarHeight 0px 0px 0px);
  overflow-y: scroll;
}

#navbar {
  @extend .navbar;
  @extend .navbar-fixed-top;

  .brand {
    color: #F7F7F7;

    line-height: $baseLineHeight;
    font: {
      family: $monospace;
      size: 16px;
      weight: bold;
    }

    $padding: ($navbarHeight - $baseLineHeight)/2;
    padding: {
      top: $padding - 2px;
      bottom: $padding + 2px;
    }
    margin-left: -30px;
  }
}

section {
  padding-top: $baseLineHeight;

  > header {
    @extend .page-header;
    margin-top: 0;
  }
}

.examples {
  @extend .row;
}

.example {
  @include span(6);
  position: relative;
  margin-bottom: $baseLineHeight;

  &:nth-child(2n+1) {
    clear: left;
  }

  .label {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1em;
  }

  &:not(.active) {
    cursor: pointer;

    &:hover {
      $border: 10px;
      background-color: $white;
      border: solid $border $white;
      margin: {
        left: $gridGutterWidth - $border;
        top: -$border;
        right: -$border;
        bottom: $baseLineHeight - $border;
      }
      @include box-shadow(0 0 8px rgba(82, 168, 236, 0.8));
      @include transition(box-shadow 0.1s linear);
    }
  }

  &.active {
    z-index: 2010;
  }
}

.source {
  display: none;

  @include span(6);

  pre {
    margin: 0;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }

  code {
    font-size: $baseFontSize - 1px;
  }

  &.pull-right {
    float: right;
    margin-right: $gridGutterWidth;
  }

  .scss {
    margin-bottom: 0;
  }

  .html, .scss {
    @extend .well;
    padding: 12px;
    position: relative;

    h5 {
      color: $gray;
      position: absolute;
      right: 12px;
    }
  }
}

.output {
  font-size: $baseFontSize + 2px;
  color: $gray;
}

.mixin.label {
  @extend .label-info;
}

code {
  font-family: $monospace;
}

h4 {
  display: inline;
  code {
    font-size: $baseFontSize + 1px;
  }
}

#overlay {
  display: none;
  opacity: 0;
  @include transition(opacity 0.1s linear);

  @include position(absolute, 0px 0px 0 0px);
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2000;

  .row {
    background-color: $white;
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));

    padding: $gridGutterWidth 0;
    margin-right: -$gridGutterWidth;
  }

  .source {
    display: block;
  }
}

#overlay.active {
  display: block;
}

#about {
  margin-bottom: 60px;
}

.github {
  @include icon(github) {
    color: black;
    text-decoration: none;
    width: 1.25em;
  }
  @extend %icon-large;
}

#example-form-inputs form,
#example-form-inputs .password,
#example-navigation nav.sidebar {
  margin-bottom: 0;
}
